<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div class="cart-view--line-item">
    <div class="cart-item--long cart-item--description-wrapper">
      <div class="cart-item--image">
        <% if variant.images.length == 0 %>
          <%= link_to small_image(variant.product), variant.product %>
        <% else %>
          <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
        <% end %>
      </div>
      <div class="cart-item--description">
        <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
        <div class="cart-item--mobile-price hidden-on-desktop">
          <%= line_item.single_money.to_html %>
        </div>

        <div class="cart-item--delete" data-hook="cart_item_delete">
          <%= link_to Spree.t(:delete), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
        </div>
        <% if line_item.insufficient_stock? %>
          <span class="out-of-stock">
            <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
          </span>
        <% end %>
      </div>
    </div>
    <div class="cart-item--short hidden-on-mobile">
      <%= line_item.single_money.to_html %>
    </div>
    <div class="cart-item--short cart-item--quantity">
      <%= item_form.number_field :quantity, min: 0, class: "form-control line_item_quantity", size: 5 %>
    </div>
    <div class="cart-item--short cart-item--short__last cart-item--summary-price">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </div>
  </div>
<% end %>
